.Footer {
    background-color: #FF5C04;
    width: 100%;
  }
  .sb_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    text-align: right;
  }
  .socialmedia1 {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100%;
  }
  .rc {
    margin-left: 1000px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lc {
    margin-right: 20px;
    width: 200px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
  }
  img {
    width: 30px; 
    margin: 0 5px; 
  }