.bordesbar{
    display: inline-flex;
    align-items:center;
    flex-direction: column;
    justify-content: flex-start;
    border-width: 2px;
    border-style: solid; 
    border-color: #FF5C04; 
    border-radius: 10px;
    padding:10px;
    width: 300px;
    height: 680px;
    position: relative;
    top: 15px;
    left: 15px;
}

.profileicon{
    text-align: center;
    font-size: 7em!important;
    margin-top: 20px;
    padding-top: 0px;
    color: #FF5C04;
}

.username{
    text-align: center;
    margin: 0;
    color: #040B5E;
    font-family: 'Avenir', sans-serif;
}

.linea{
    width: 108%;
    height: 1.5px;
    background-color: #FF5C04; 
    margin-top: 10%; 
}

.container {
    display: flex;
    margin-left: 0%;
    
}
.icon-container { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-bottom: -20px; 
    margin-top: 0px;
}

.noticon{
    color: #040B5E ;
    font-size: 2em !important;
    
}

.circleicon-container {
    position: relative;
    display: inline-block; 
}

.circleicon, .editicon {
    font-size: 2em !important;
    margin-left: 40px;
}

.circleicon {
    color: #040B5E;
}

.editicon {
    color: #ffffff;
    position: absolute;
    top: 45%; 
    left: 50%; 
    transform: translate(-110%, -50%); 
    font-size: 1.4em !important; 
    
}

.chaticon{
    color: #ffffff;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(25%, -58%); 
    font-size: 1.1em !important; 
    
}

.storeicon{
    color:#FF5C04;
    position: absolute;
    top: 45%; 
    left: 16%; 
    transform: translate(80%, -45%); 
    font-size: 2em !important; 
}

.mis-negocios{
    text-align: center;
    margin-top: 92%;
    margin-left: 12%;
    color: #040B5E;
    font-family: 'Avenir', sans-serif;
    position: absolute;
}

.foto-de-perfil {
    width: 120px; /* Ajusta el ancho según sea necesario */
    height: 120px; /* Ajusta la altura según sea necesario */
    border-radius: 50%; /* Hace que la foto sea circular */
    object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir el círculo */
  }
