/* Estilos generales */
.general {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.text {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #040b5e;
}
/* Estilos para el contenido principal */
main {
  padding: 1rem;
}
.formulario {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-color: #ff5c04;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
}
/* Estilos para el formulario */
.formulario form {
  display: inline-flex;
  flex-direction: row;
}
.formulario div {
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  /* width: 300px; */
}
.formulario label {
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.selectButton_c{
  display: flex;
  justify-content: flex-end;
}
