.footer {
    background-color: #040B5E;
    color: #fff;
    text-align: center;
    padding: 30px;
    width: 95.8%; 
    height: 50px;
    position: relative;
    bottom: 0;
    margin-top: -630px;
    z-index: 10; /* Añade un índice z alto para asegurar que esté sobre otros elementos */
    
  }
  
 