.Footer {
  background-color: #ff5c04;
  width: 100%;
}
.sb_footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  text-align: right;
}
.socialmedia1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; /* Alinea verticalmente en el centro */
  width: 100%;
}
.rc {
  margin-left: 1000px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lc {
  margin-right: 20px;
  width: 200px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
a {
  color: #ffffff;
  text-decoration: none;
  text-align: left;
}
img {
  width: 30px; /* Ajusta el ancho de las imágenes según sea necesario */
  margin: 0 5px; /* Ajusta el margen entre las imágenes */
}
